.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.registerLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
}
.registerDesc {
  font-size: 24px;
}
.registerBox {
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
.registerInput:focus {
  outline: none;
}
.registerButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.registerForget {
  text-align: center;
  color: #1775ee;
}

.registerRegisterButton {
  height: 50px;
  width: 60%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
