.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 10px 11px 25px 8px rgba(214, 214, 214, 1);
  -moz-box-shadow: 10px 11px 25px 8px rgba(214, 214, 214, 1);
  box-shadow: 10px 11px 25px 8px rgba(214, 214, 214, 1);
  margin: 30px 0;
}
.postWrapper {
  padding: 15px;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}
.postDate {
  font-size: 12px;
}
.postCenter {
  margin: 20px 0;
}
.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.postLikeCounter {
  font-size: 14px;
}
.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
