.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(187, 184, 184);
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sidebarWrapper {
  padding: 15px;
}
.sidebarList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebarListItem {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.sidebarIcon {
  margin-right: 10px;
}
.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}
.sidebarButton:focus {
  outline: none;
}
.sidebarHr {
  margin: 20px 0;
}
.sidebarFriendList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
