.share {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 11px 25px 8px rgba(214, 214, 214, 1);
  -moz-box-shadow: 10px 11px 25px 8px rgba(214, 214, 214, 1);
  box-shadow: 10px 11px 25px 8px rgba(214, 214, 214, 1);
}
.shareWrapper {
  padding: 20px;
}
.shareTop {
  display: flex;
  align-items: center;
}
.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.shareInput {
  border: none;
  width: 80%;
}
.shareInput:focus {
  outline: none;
}
.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shareOptions {
  display: flex;
  margin-left: 20px;
}
.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}
.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}
.shareButton {
  border: none;
  border-radius: 5px;
  padding: 7px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}
